* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.logo {
    background-image: url("amazon_logo.png");
    height: 40px;
    width: 100%;
    background-size: cover;
}


.nav-logo {
    height: 45px;
    width: 100px;


}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;

} 

.enclass{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    padding: 4px;
}

.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 24px;
}

.add-second {
    font-size: 0.9rem;
    margin-left: 3px;
    font-weight: 700;
}

.add-icon {
    display: flex;
    align-items: center;

}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 700px;
    height: 40px;
    border-radius: 4px;
}

.nav-search:hover {
    border: 2px solid orange;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;

}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #f3a641;
    color: #0f1111;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p {
    display: inline;
    margin-left: 22px;
    cursor: pointer;
    margin: 9px 0px 12px;
    padding: 15px 12px;
}

.panel-ops {
    font-size: 0.85rem;
}

.main-section {
    background-image: url(Main_image.jpg);
    height: 255px;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.shop-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #e3eecb;
}

.shop-section {
    display: flex;
    padding: 0px;
    background: #eaf3d1;

}

.box {
    border-radius: 5px;
    width: 327px;
    padding: 15px;
    height: 400px;
    background-color: white;
    
    margin-bottom: 20px;
    
}

.box-content h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.box-line {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.box-img {
    width: 100%;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.box-content p {
    margin-top: 25px;
    color: #2161a1;
    cursor: pointer;
    font-size: 15px;
    
}


.product-name-second {
    font-size: 12px;
    margin-top: 130px;
    color: #0f1111;
    font-weight: 500;
    cursor: pointer;
}

.box-img-second {
    height: 140px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    
}

.box-img-third {
    height: 140px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.product-name-third {
    font-size: 12px;
    margin-top: 130px;
    color: #0f1111;
    font-weight: 500;
    cursor: pointer;
}

.product-box img {
    width: 100%;
    height: 220px;
    object-fit: contain;
}

.product-box h3 {
    font-size: 14px;
    margin: 10px 0;
    cursor: pointer;
    color: #2161a1;
   
}

.rating {
    color: #ffa41c;
    font-size: 14px;
}

.rating span {
    color: #007185;
}

.deal {
    display: inline-block;
    background: #cc0c39;
    color: white;
    font-size: 12px;
    padding: 3px 6px;
    margin: 8px 0;
}

.deal:hover {
    background: #b30b30;
    cursor: pointer;
}

.price {
    font-size: 18px;
}

.off {
    color: #cc0c39;
    font-weight: bold;
}

.amount {
    font-weight: bold;
}

.mrp {
    font-size: 12px;
    color: gray;
}

footer {
    margin-top: 10px;
}

.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel1:hover {
    background-color: #485769;
    cursor: pointer;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

ul a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-logo {
    background-image: url("amazon_logo.png");
    height: 40px;
    width: 100px;
    background-size: cover;
    margin: 10px 0px 10px 20px;

}

.foot-panel4 {
    background-color: #0f1111;
    color: white;
    height: 80px;
    text-align: center;
    font-size: 0.75rem;
    
    
}

.pages {
    padding-top: 25px;
    
}


.copyright {
    padding-top: 5px;
}

a {
    margin-left: 20px;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}